textarea{
  padding: 3vh;
}
#textFilter{
  font-size: larger;
}
input{
  margin: 0 1vw;
}
button{
  margin-right: 1vw;
}
#preview{
  display: none;
}
#send{
  display: none;
}
#root{
  padding-bottom: 5vh;
  background-color: #9c97af;
}
button:hover{
  font-weight: bold;
}